.sections{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.section{
    cursor: pointer;
    flex: 0 1 auto;
    margin: 10px 10px 10px 10px;
    border-bottom: inset 2px tan;

    &.active{
        border-bottom: inset 2px brown;
    }
}