.professional-experience{

    display: flex;
    flex-direction: row;
    
    .item{
        flex: 0 1 auto;
        min-width: 300px;
        margin: 10px 10px 10px 10px;
        position: relative;

        .company{
            display: block;
            font-size: 2em;
            text-align: center;
        }
        .title{
            display: block;
            font-size: 1.5em;
            text-align: center;
        }
        .period{
            display: block;
            text-align: center;
            div{
                display: inline;
                color: dimgray;
                border-bottom: solid 1px burlywood;
                padding-bottom: 5px;
            }
        }
        .description{
            margin-bottom: 1em;
        }
        .company{
            display: block;
        }
    }
}