@import "../node_modules/reset-css/_reset.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/font-awesome/css/font-awesome.css";
@import "./third-party/fontawesome-free-5.0.13/web-fonts-with-css/css/fa-brands.css";
// @import "../node_modules/@material/fab/dist/mdc.fab.css";
@import "../node_modules/@material/button/dist/mdc.button.css";
@import "variables";


$theme-minor: #23111B;
$theme-major: lightyellow;

body{
    background-color: $theme-major;
    font-family: 'Roboto', sans-serif;
}

#root{
    position: relative;
    height: 100%;
    width: 100%;
}

input[type="submit"], button
/* Or better yet try giving an ID or class if possible*/
{
 border: 0;
 background: none;
 box-shadow: none;
 border-radius: 0px;
}

@import "./components/v2/app";
@import "./components/v2/menu";
@import "./components/v2/home";
@import "./components/v2/contact";
@import "./components/v2/skills";
@import "./components/v2/technicalSkills";
@import "./components/v2/ml";
@import "./components/v2/tictactoe";
@import "./components/v2/chat-bot";


@media screen and (min-width: 480px) and (max-width: 959px){
    @import "./components/v2/app-medium";
    @import "./components/v2/home-medium";
    @import "./components/v2/menu-medium";
    @import "./components/v2/skills-medium";
    @import "./components/v2/technicalSkills-medium";
    // @import "./components/v2/contact";
}

@media screen and (max-width: 479px){
    @import "./components/v2/app-small";
    @import "./components/v2/home-small";
    @import "./components/v2/menu-small";
    @import "./components/v2/contact-small";
    @import "./components/v2/skills-small";
    @import "./components/v2/technicalSkills-small";
    
}