div.contact{
    height: 100%;

    display: flex;
    flex-direction: row;

    .left-pane{
        padding-left: 2em;
        font-family: 'Acme', sans-serif;
        
        flex: 1 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        >div{
            flex: 0 0 auto;
            
            
            i{
                font-size: 3em;
                padding: 0 1em 0 1em;
                color: $theme-minor;
            }
        }

        .email{

        }

    }

    // .right-pane{
    //     padding: 0 3em 0 3em;
    //     flex: 33 0;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    // }
}