div.home{
    height: 100%;

    display: flex;
    flex-direction: row;

    .left-pane{
        padding-left: 2em;
        font-family: 'Acme', sans-serif;
        
        flex: 65 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > span{
            display: block;
            font-size: 3em;

            .name{
                color: #FCAB64
            }

            .profession{
                color: #7FD8BE;
            }

            .hobby{
                color: #F6839C;
            }
        }

    }

    .right-pane{
        padding: 0 3em 0 3em;
        flex: 35 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div{
            border-left: solid 1px #23111B;
            text-align: center;
            padding: 3em 0 3em 0;
        }

        .message{
            padding: 1em 3em 1em 3em;
            display: block;
            text-align: center;
        }

        button.contact-me{
            color: lightyellow;
            margin: 1em 1em 1em 1em;
            padding: 0.5em .5em 0.5em 1.5em;
            text-transform: uppercase;
            background-color: #54457F;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

            i{
                margin: 0em 1em 0em 1em;
            }
        }

    }
}