.menu{
    // background-color: #0088B4;
    // background-color: rosybrown;
    background-color: #23111B;
    height: 100%;
    border-right: 1px solid lightgray;

    display: flex;
    flex-direction: column;

    .logo{
        flex: 0 0 auto;
    }

    nav{
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-item{
            flex: 0 0 auto;
            // color: #333;
            color: lightyellow;
            text-decoration: none;

            i{
                font-size: 2em;
                display: block;
                text-align: center;
            }
            span{
                font-weight: bold;
                font-size: .7em;
                display: block;
                text-align: center;
            }

            &:hover{
                // color: lightyellow;
                color: #7FD8BE;
                cursor: pointer;
            }
        }
    }


}