.menu{
    // background-color: #0088B4;
    // background-color: rosybrown;
    background-color: $theme-minor;
    height: 100%;
    box-shadow: 3px 0 3px black;

    display: flex;
    flex-direction: column;

    .logo{
        position: relative;
        height: 70px;
        width: 70px;
        flex: 0 0 auto;
        background-image: url("./images/custom-logo.svg");
        background-size: 4em 4em;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav{
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-item{
            padding: 2em 0 0 0;
            flex: 0 0 auto;
            // color: #333;
            color: $theme-major;
            text-decoration: none;

            i{
                font-size: 2em;
                display: block;
                text-align: center;
            }
            span{
                padding: .2em 0 0 0;
                font-weight: bold;
                font-size: .7em;
                display: block;
                text-align: center;
            }

            &:hover{
                // color: lightyellow;
                color: #7FD8BE;
                cursor: pointer;
            }

            // &.contact{
            //     i{
            //         font-size: 1.5em;
            //         padding: 0 0 .1em 0;
            //     }
            // }
        }
    }


}