section.skills{
    height: 100%;

    display: flex;
    flex-direction: row;
    // font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;

    .spacer{
        flex: 6 0;
    }

    .left-pane{
        flex: 37 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.5em;
        overflow-x: hidden;

        .description{
            flex: 1 0;
            
            p{
                // padding: 1em 2em;
            }
        }
    }

    .right-pane{
        flex: 57 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}